<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458875237618-jik3383g1p92v9uf4jfjot9q8j9agikp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458875237618-jik3383g1p92v9uf4jfjot9q8j9agikp</string>
	<key>API_KEY</key>
	<string>AIzaSyAyLC9k18MTT6zcMH4g_mygYTV8W268QOk</string>
	<key>GCM_SENDER_ID</key>
	<string>458875237618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-745ef</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-745ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458875237618:ios:fa5ad78ff5c3e24d798c6b</string>
</dict>
</plist>